@model ProductPageViewModel

<div>
    <h1>@Model.Product.Title</h1>
    <p>@Model.Product.Description</p>
    <p>@Model.Product.Price</p>
    <img src="@Model.Product.Image" alt="@Model.Product.Title" />
</div>
<div>
    @Html.PropertyFor(x => x.CurrentPage.ProductRecommendations)
</div>